/* src/components/AdsList.css */
.Ads-container {
  display: flex;
  position: relative;
  top: 80px;
  justify-content: center;
}

.ads-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  list-style: none;
  max-width: 1300px;
}


.ad-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
  justify-content: left;
  text-align: left;
  align-items: flex-start;
  padding-bottom: 10px;
  max-width: 300px;
  cursor: default;
}

.ad-card h2,a {
  color: royalblue;
  margin-top: 10px;
  padding: 5px;
  text-decoration: none;

}

.ad-card a:hover {
  color: rgb(104, 136, 232);
}

.ad-card p {
  font-size: 20px;
  padding: 2px 10px;
  margin: 0;
}

.ad-card img {
  width: 250px;
  height: 250px;
  border: 2px rgb(68, 68, 68);
}

.ad-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  font-weight: bold;
}

.image-slider {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.indicator-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  gap: 5px;
}

.indicator {
  width: 35px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

/* Увеличенная невидимая зона активации */
.indicator::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -10px;
  width: 35px;  /* Ширина области активации */
  height: 50px; /* Высота области активации */
  background: transparent;
}

.indicator.active {
  background-color: white;
}

/* Индикаторы скрыты, пока не наведём на изображение */
.image-slider:hover .indicator-container {
  display: flex;
}
