.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.category-list,
.subcategory-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list  li {
  color: black;
}

.subcategory-item li {
  color: black;
}

.category-item,
.subcategory-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin: 5px 0;
}

.category-item:hover,
.subcategory-item:hover {
  background-color: #f0f0f0;
}

.category-item.active,
.subcategory-item.active {
  background-color: #007bff;
  color: white;
}

.apply-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #0056b3;
}