.Ads-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 65px;
}

.ads-result-list {
  display: flex;
  flex-direction: column;

}

.Ads-container h2, p {
  color: black;
}